<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" status="width=device-width, initial-scale=1.0">

       
        <title>Home</title>
    </head>
    <body>

        <%- include('includes/navbar', {isAuthenticated: isAuthenticated}); %>

        <div class="row" style="margin:auto" >
            <div id="card-div" class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <% if (isAuthenticated) { %>
                            <h5 class="card-description">Welcome <%= username %></h5>
                        <%  } else { %>
                            <h5 class="card-description">Sign-in to get an ID Token</h5>
                        <%  } %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>