<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" status="width=device-width, initial-scale=1.0">
        <title>ID</title>
    </head>
    <body>

        <%- include('includes/navbar', {isAuthenticated: isAuthenticated}); %>

        <div class="table-area-div">
            <p>Your id is Here:</p>
        </div>
        
        <div class="table-area-div">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Claim</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (const [key, value] of Object.entries(claims)) { %>
                        <tr>
                            <td><%= key %></td>
                            <td><%= value %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>   
        <%- include('includes/footer'); %>
    </body>
</html>